@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 50px;
  color: white;
}

.App-title {
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.App-intro {
  font-size: large;
}